section.news-side
	.article-title-b
		h2 Tin tức khác
			span.blue-line-short
	.news-side-wrapper
		.row
			.news-item
				.news-image
					a(href="#")
						img(src="./img/news/1.jpg", alt="")
				.news-caption
					.caption
						a(href="#")
							p Những điểm khác biệt nổi bật của khu phức hợp nghỉ dưỡng  Sunshine Marina Nha Trang Bay  Những điểm khác biệt nổi bật của khu phức hợp nghỉ dưỡng  Sunshine Marina Nha Trang Bay 
					time 26/06/2019
			.news-item
				.news-image
					a(href="#")
						img(src="./img/news/1.jpg", alt="")
				.news-caption
					.caption
						a(href="#")
							p Những điểm khác biệt nổi bật của khu phức hợp nghỉ dưỡng  Sunshine Marina Nha Trang Bay 
					time 26/06/2019
					
			.news-item
				.news-image
					a(href="#")
						img(src="./img/news/1.jpg", alt="")
				.news-caption
					.caption
						a(href="#")
							p Những điểm khác biệt nổi bật của khu phức hợp nghỉ dưỡng  Sunshine Marina Nha Trang Bay 
					time 26/06/2019
					
