footer
	section.contact-form#lien-he
		.back-to-top
			button(href="" onclick="topFunction()")
				img(src="./img/d-arrow.png", alt="")
		.container
			.contact-form-title
				h2 Thông tin liên hệ
			.row
				.col-lg-6
					.contact-information-wrapper
						h3 Sunshie Marina Nha Trang bay
						h4 Khu nghỉ dưỡng phức hơp 5 sao hàng đầu tại Việt Nam
						ul
							li
								a(href="#")
									em.mdi.mdi-phone-in-talk
									p Hot line: 18006393
							li
								a(href="#")
									em.mdi.mdi-map-marker 
									p Địa chỉ: Số 32, đường Trần Phú, TP. Nha Trang, Tỉnh Khánh Hoà
							li
								a(href="#")
									em.mdi.mdi-email
									p marinanhatrang@sunshinemail.vn
					.partner-logo
						a(href="#")
							p Chủ đầu tư
							img(src="./img/logo-2.png", alt="")
				.col-lg-6
					.wrap-form
						.row
							.form-group.col-12
								label Họ và tên
								input.form-control(type='text')
							.form-group.col-12.col-lg-6
								label Email
								input.form-control(type='text')
							.form-group.col-12.col-lg-6
								label Số điện thoại
								input.form-control(type='text')
							.form-group.col-12
								label Nội dung
								textarea#inpputTextArea.form-control(rows='3')
						.frm-btnwrap
							.frm-btn
								input(type="submit" value ="Gửi")
	section.copy-right
		h2 © 2019 Sunshine Group. Tất cả các quyền được bảo hộ.
