header
	section.header-wrapper
		.container-14
			.header-top
				.social-network
					.social-icon
						a(href="https://www.facebook.com/kimlongproperty" class="fb-page" data-href="https://www.facebook.com/kimlongproperty " data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true")
							em.mdi.mdi-facebook
					.social-icon
						a(href="#")
							em.mdi.mdi-youtube
				.hot-line-wrapper
					a(href="#")
						em.mdi.mdi-phone
						span 18006193
			.header-bottom
				.header-navigation-wrapper
					.header-home-icon
						a(href="#")
							img(src="./img/header/icon.png", alt="")
					ul.navigation-wrapper.navigation-header-1
						li
							a(href="#gioi-thieu") Giới thiệu
						li.active
							a(href="#tien-ich") Tiện ích
						li
							a(href="#thiet-ke") Thiết kế
						li
							a(href="#vi-tri") Vị trí
					.navbrand
						.logo
							a(href="#")
								img(src="./img/logo.png", alt="")
					ul.navigation-wrapper.navigation-header-2
						li
							a(href="#mat-bang") mặt bằng
						li
							a(href="#chu-dau-tu") chủ đầu tư
						li
							a(href="#tin-tuc") tin tức
						li
							a(href="#lien-he") liên hệ
					.search-toggle
					.searchbox
						input
						button(type="submit").searchbutton
							em.mdi.mdi-magnify
					.language-wrapper
						ul.language-list
							li.has-sub
								span EN
								ul.nav-sub
									li
										a(href="#") CHN 
									li
										a(href="#") VN
									li
										a(href="#") ENG
									li
										a(href="#") KOR
					.mobile-toggle
						.hamburger.hamburger--spring
							.hamburger-box
								.hamburger-inner
			.mobile-wrapper

