section.ss-maria-facility#mat-bang
	.container
		.article-title-w.center(data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000")
			h2 Mặt bằng tổng thể và các tầng
				span.blue-line-short-mb
		.facility-tab-nav(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="200" data-aos-duration="700")
			ul
				li.active
					a(href="javascript:void(0)" data-type="link-1") Quy hoạch tổng thể
				li
					a(href="javascript:void(0)" data-type="link-2") Tầng trệt
				li
					a(href="javascript:void(0)" data-type="link-3") Tầng 1
				li
					a(href="javascript:void(0)" data-type="link-4") Tầng 2
				li
					a(href="javascript:void(0)" data-type="link-5") Tầng 3 
				li
					a(href="javascript:void(0)" data-type="link-6") Sân thượng
		.facility-tab-content(data-aos="fade-in" data-aos-offset="200" data-aos-delay="0" data-aos-duration="1000")
			.facility-tab-item.lightgallery#link-1.active
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
			.facility-tab-item.lightgallery#link-2
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
			.facility-tab-item.lightgallery#link-3
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
			.facility-tab-item.lightgallery#link-4
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
			.facility-tab-item.lightgallery#link-5
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
			.facility-tab-item.lightgallery#link-6
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
				a(href="./img/mb/1.png")
					img(src="./img/mb/1.png", alt="")
