section.news-display
	.container
		.article-title-b.center
			h2 Tin tức
				span.blue-line-short
		.news-wrapper-2
			.row
				.col-lg-8
					.news-item.big
						.news-image
							a(href="#")
								img(src="./img/news/1.jpg", alt="")
						.news-caption
							time 26/06/2019
							hr.dash-color
							.caption
								a(href="#")
									p Những điểm khác biệt nổi bật của khu phức hợp nghỉ dưỡng  Sunshine Marina Nha Trang Bay  Những điểm khác biệt nổi bật của khu phức hợp nghỉ dưỡng  Sunshine Marina Nha Trang Bay 
				.col-lg-4
					.news-item
						.news-image
							a(href="#")
								img(src="./img/news/1.jpg", alt="")
						.news-caption
							time 26/06/2019
							hr.dash-color
							.caption
								a(href="#")
									p Những điểm khác biệt nổi bật của khu phức hợp nghỉ dưỡng  Sunshine Marina Nha Trang Bay 
					.news-item
						.news-image
							a(href="#")
								img(src="./img/news/1.jpg", alt="")
						.news-caption
							time 26/06/2019
							hr.dash-color
							.caption
								a(href="#")
									p Những điểm khác biệt nổi bật của khu phức hợp nghỉ dưỡng  Sunshine Marina Nha Trang Bay 
		.news-other
			.news-item
				.news-image
					a(href="#")
						img(src="./img/news/1.jpg", alt="")
				.news-caption
					time 26/06/2019
					hr.dash-color
					.caption
						a(href="#")
							p Những điểm khác biệt nổi bật của khu phức hợp nghỉ dưỡng  Sunshine Marina Nha Trang Bay 
			.news-item
				.news-image
					a(href="#")
						img(src="./img/news/1.jpg", alt="")
				.news-caption
					time 26/06/2019
					hr.dash-color
					.caption
						a(href="#")
							p Những điểm khác biệt nổi bật của khu phức hợp nghỉ dưỡng  Sunshine Marina Nha Trang Bay 
			.news-item
				.news-image
					a(href="#")
						img(src="./img/news/1.jpg", alt="")
				.news-caption
					time 26/06/2019
					hr.dash-color
					.caption
						a(href="#")
							p Những điểm khác biệt nổi bật của khu phức hợp nghỉ dưỡng  Sunshine Marina Nha Trang Bay 
