section.ss-maria-convenient#tien-ich
	.container-16
		.container
			.article-title-b
				h2(data-aos="fade-down" data-aos-offset="100" data-aos-delay="0" data-aos-duration="1000" data-aos-easing="ease-in-out") Trải nghiệm tiện ích đẳng cấp, độc nhất
					span.blue-line-short-ti
				span.caption(data-aos="fade-up" data-aos-offset="100" data-aos-delay="0" data-aos-duration="1000" data-aos-easing="ease-in-out") Với ý tưởng đưa các tiện ích lên lưng chừng trời sẽ mang lại cho bạn sự trải nghiệm đầy thú vị và hoàn toàn khác biệt: Hồ bơi vô cực, sân vườn trên cao, dòng sông Venice, khu vuòn ánh sáng, chương trình nhạc nước… tất cả tạo nên một phong cách sống hoàn mỹ, đủ đầy và tiện nghi cho cả gia đình. 
			.convenient-display-wrapper
				.row
					figure.col-lg(data-aos="fade-right" data-aos-offset="250" data-aos-delay="200" data-aos-duration="900" data-aos-easing="ease-in-out")
						.figure-image.shine
							img(src="./img/convenient/1.jpg", alt="")
						figcaption
							h3 Dòng sông Venice trong lòng khách sạn
							p Tại tầng 3 khu nghỉ dưỡng Sunshine Marina Bay, du khách có thể trải nghiệm ngồi thuyền Gondola lướt trên dòng sông Venice dưới bầu trời xanh nhân tạo.

					figure.col-lg(data-aos="fade-left" data-aos-offset="250" data-aos-delay="200" data-aos-duration="900" data-aos-easing="ease-in-out")
						.figure-image.shine
							img(src="./img/convenient/2.jpg", alt="")
						figcaption
							h3 Khu vườn xanh trên không
							p Vượt qua giới hạn của thời gian, phá bỏ mọi rào cản về không gian, Vườn ươm tri thức được thiết kế đặc biệt nhằm kiến tạo cộng đồng sống thông thái, văn minh cho những cư dân tương lai.
					figure.col-lg(data-aos="fade-right" data-aos-offset="250" data-aos-delay="200" data-aos-duration="900" data-aos-easing="ease-in-out")
						.figure-image.shine
							img(src="./img/convenient/3.jpg", alt="")
						figcaption
							h3 Công viên ánh sáng
							p Vượt qua giới hạn của thời gian, phá bỏ mọi rào cản về không gian, Vườn ươm tri thức được thiết kế đặc biệt nhằm kiến tạo cộng đồng sống thông thái, văn minh cho những cư dân tương lai.
							p Vượt qua giới hạn của thời gian, phá bỏ mọi rào cản về không gian, Vườn ươm tri thức được thiết kế đặc biệt nhằm kiến tạo cộng đồng sống thông thái, văn minh cho những cư dân tương lai.
					figure.col-lg(data-aos="fade-left" data-aos-offset="250" data-aos-delay="200" data-aos-duration="900" data-aos-easing="ease-in-out")
						.figure-image.shine
							img(src="./img/convenient/4.jpg", alt="")
						figcaption
							h3 Hồ bơi vô cực
							p Vượt qua giới hạn của thời gian, phá bỏ mọi rào cản về không gian, Vườn ươm tri thức được thiết kế đặc biệt nhằm kiến tạo cộng đồng sống thông thái, văn minh cho những cư dân tương lai.
					figure.col-lg(data-aos="fade-right" data-aos-offset="250" data-aos-delay="200" data-aos-duration="900" data-aos-easing="ease-in-out")
						.figure-image.shine
							img(src="./img/convenient/5.jpg", alt="")
						figcaption
							h3 Casino thu nhỏ của Lasvegas
							p Internet kết nối vạn vật (Internet of Things – IoT) ngày càng thể hiện tính ưu việt và lan tỏa khắp thế giới. Với lợi thế về nguồn dân số trẻ, Việt Nam là thị trường tuyệt vời để phát huy sức mạnh công nghệ vào mọi mặt cuộc sống, đặc biệt là bất động sản. Bằng vị thế tiên phong trong ứng dụng công nghệ vào bất động sản.
							p Play casino games directly in your browser at Oranje Casino. Blackjack, Roulette, Live Casino and much more.




