section.ss-marina-introduce#gioi-thieu
	.container
		.article-title-b(data-aos="fade-down" data-aos-offset="100" data-aos-delay="0" data-aos-duration="700" data-aos-easing="ease-in-out")
			h2 Integrated Resort mô hình All in one khiến thay đổi ngành công nghiệp du lịch
				.blue-line-begin 
		.introduce-caption
			p(data-aos="fade-right" data-aos-offset="100" data-aos-delay="350" data-aos-duration="800" data-aos-easing="ease-in-out") Integrated Resort là tên gọi của những quần thể nghỉ dưỡng phức hợp đáp ứng đầy đủ nhu cầu du lịch, lưu trú, vui chơi giải trí thời thượng. Và mô hình all – in – one này sẽ được áp dụng tại dự án Sunshine Marina Bay Nha Trang. Một điểm đến mọi nhu cầu. Đảm bảo làm hài lòng ngay cả những vị khách khó tính nhất. Mặc dù, mô hình khá mới tại Việt Nam thế nhưng Integrated Resort đã xuất hiện trên rất nhiều quốc gia trên thế giới. 
			p(data-aos="fade-left" data-aos-offset="100" data-aos-delay="350" data-aos-duration="800" data-aos-easing="ease-in-out") Và chỉ trong một thời gian ngắn, khiến ngành du lịch liền lập tức bước tới kỷ nguyên mới, không chỉ thúc đẩy sự thay đổi của toàn ngành du lịch mà còn mang đến nhiều con số ngày càng gia tăng về du khách, về GDP, về mức độ sinh lời. Một vài ví dụ tiêu biểu như: Mission Hills Haikou ở Trung Quốc, hay Marina Bay Sands tại Singapore, Venetian, Palazzo tại Las Vegas, Melbourne’s Crown Entertainment Complex hay South Africa’s Sun City…
	.container-14
		.row.introduce-galerry-wrapper.no-gutters
			.col-lg-3
				.row.no-gutters
					.introduce-galerry-item(data-aos="zoom-out" data-aos-offset="100" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out")
						img(src="./img/intro/1.jpg", alt="").medium-zoom
					.introduce-galerry-item(data-aos="zoom-out" data-aos-offset="0" data-aos-delay="300" data-aos-duration="600" data-aos-easing="ease-in-out")
						img(src="./img/intro/2.jpg", alt="").medium-zoom
			.col-lg-3
				.introduce-galerry-item(data-aos="zoom-out" data-aos-offset="100" data-aos-delay="600" data-aos-duration="500" data-aos-easing="ease-in-out")
					img(src="./img/intro/3.jpg", alt="").medium-zoom
			.col-lg-6
				.row.no-gutters
					.col-6
						.introduce-galerry-item(data-aos="zoom-out" data-aos-offset="100" data-aos-delay="900" data-aos-duration="500" data-aos-easing="ease-in-out")
							img(src="./img/intro/4.jpg", alt="").medium-zoom
					.col-6
						.introduce-galerry-item(data-aos="zoom-out" data-aos-offset="100" data-aos-delay="1200" data-aos-duration="500" data-aos-easing="ease-in-out")
							img(src="./img/intro/5.jpg", alt="").medium-zoom
					.col-12
						.introduce-galerry-item(data-aos="zoom-out" data-aos-offset="0" data-aos-delay="1500" data-aos-duration="500" data-aos-easing="ease-in-out")
							img(src="./img/intro/6.jpg", alt="").medium-zoom
