section.tin-tuc-ct
	article
		h2 Bí ẩn Sunshine Marina Nha Trang Bay và mô hình Integrated Resort
		time 20/06/2019
		h5 Vượt xa mọi trí tưởng tượng và sự kỳ vọng, “bí ẩn” về Sunshine Marina Nha Trang Bay đang dần được hé lộ. Những giá trị phi thường của dự án đang liên tục dẫn dắt thị trường từ bất ngờ này sang bất ngờ khác…
		img(src="./img/news/1.jpg", alt="")
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt officia quibusdam recusandae voluptatibus et eaque nisi a molestiae, voluptatum labore dolorum saepe praesentium explicabo autem, vel alias corrupti hic. Ab.
		strong Tiện ích phức hợp và kiến trúc của tương lai
		p Dự kiến khi đi vào hoạt động, Sunshine Marina Nha Trang Bay sẽ là một điểm đến thỏa mãn “một nghìn lẻ một” nhu cầu với những trải nghiệm đa chiều qua tổ hợp dịch vụ tiện ích thời thượng như: Casino, bến du thuyền, thủy cung, rạp hát, sân khấu nhạc nước, Disney land, bể bơi vô cực, bãi tắm riêng cùng hệ thống chuỗi các bar – sky bar, nhà hàng 5 sao ++, trải nghiệm “Chèo thuyền trên sông nội khu nối liền biển” hay hải trình độc quyền trên du thuyền…
	.social-network-wrapper
		.social-network-button
			.fb-like(data-href='https://developers.facebook.com/docs/plugins/', data-width='', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')

		.social-network-button
			.fb-save(data-uri='https://www.instagram.com/facebook/', data-size='small')


