extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	include ../components/banner/index.pug
	include ../components/noi-bat/index.pug
	include ../components/gioi-thieu/index.pug
	include ../components/tien-ich/index.pug
	include ../components/thiet-ke/index.pug
	include ../components/vi-tri/index.pug
	include ../components/mat-bang/index.pug
	include ../components/partner/index.pug
	include ../components/thu-vien/index.pug
	include ../components/tin-tuc/index.pug
	include ../components/lien-he/index.pug
