section.ss-maria-partner#chu-dau-tu
	.container
		.article-title-w.center(data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="500" data-aos-duration="1000")
			h2 Chủ đầu tư
				span.blue-line-short
		.row
			.col-lg-4
				.partner-logo(data-aos="fade-right" data-aos-offset="200" data-aos-delay="0" data-aos-duration="1000")
					img(src="./img/partner/1.png", alt="")
			.col-lg-8
				article(data-aos="fade-left" data-aos-offset="200" data-aos-delay="0" data-aos-duration="1000")
					p Sunshine tự tin tham gia vào thị trường bất động sản, kiên định với tầm nhìn chiến lược của riêng mình: “Nói thực – Làm thực – Tạo nên giá trị thực”.
					p Luôn cẩn trọng trong kinh doanh, Tập đoàn chỉ đầu tư vào các dự án có vị trí đắc địa, những khu đất “Vàng” của thủ đô văn minh, hiện đại và giàu bản sắc văn hóa. Chúng tôi coi sự duy trì đảm bảo về năng lực tài chính, sự minh bạch thông tin trong quá trình đầu tư, bảo đảm quyền lợi cho đối tác – khách hàng là phương châm tạo lập Uy tín của mình.
					p Các công trình mang thương hiệu Sunshine đều thuộc đẳng cấp cao, độc đáo về kiến trúc, bảo đảm chất lượng sống tốt nhất cho cư dân, là cơ hội đầu tư tiềm năng cho các đối tác thông qua phong cách thiết kế sang trọng, lịch lãm, tạo dấu ấn thẩm mỹ của chỉ riêng Sunshine.
