section.ss-maria-structure#thiet-ke
	.article-title-w.center(data-aos="zoom-in-up" data-aos-offset="150" data-aos-delay="0" data-aos-duration="700" data-aos-easing="ease-in-out")
		h2 Thiết kế & kiến trúc
			span.blue-line-short
	.swiper-container(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0" data-aos-duration="700")
		.swiper-wrapper
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/structure/1.jpg", alt="")
					.swiper-caption
						p Một kiệt tác thiết kế dành cho gia chủMột kiệt tác thiết kế dành cho gia chủ
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/structure/2.jpg", alt="")
					.swiper-caption
						p Một kiệt tác thiết kế dành cho gia chủMột kiệt tác thiết kế dành cho gia chủ
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/structure/3.jpg", alt="")
					.swiper-caption
						p Một kiệt tác thiết kế dành cho gia chủMột kiệt tác thiết kế dành cho gia chủ
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/structure/4.jpg", alt="")
					.swiper-caption
						p Một kiệt tác thiết kế dành cho gia chủMột kiệt tác thiết kế dành cho gia chủ
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/structure/4.jpg", alt="")
					.swiper-caption
						p Một kiệt tác thiết kế dành cho gia chủMột kiệt tác thiết kế dành cho gia chủ
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/structure/1.jpg", alt="")
					.swiper-caption
						p Một kiệt tác thiết kế dành cho gia chủMột kiệt tác thiết kế dành cho gia chủ
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/structure/2.jpg", alt="")
					.swiper-caption
						p Một kiệt tác thiết kế dành cho gia chủMột kiệt tác thiết kế dành cho gia chủ
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/structure/3.jpg", alt="")
					.swiper-caption
						p Một kiệt tác thiết kế dành cho gia chủMột kiệt tác thiết kế dành cho gia chủ
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/structure/4.jpg", alt="")
					.swiper-caption
						p Một kiệt tác thiết kế dành cho gia chủMột kiệt tác thiết kế dành cho gia chủ
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/structure/4.jpg", alt="")
					.swiper-caption
						p Một kiệt tác thiết kế dành cho gia chủMột kiệt tác thiết kế dành cho gia chủ
	.navigation-wrapper
		.nav-prev
		.nav-next

