section.other-news
	.article--title-b
		h2 Tin tức khác
			span.blue-line-short-tt
	.other-news-wrapper
		.other-news-item
			.news-image
				img(src="./img/other-news/1.jpg", alt="")
			.news-caption
				p
				time 20/06/2019
		.other-news-item
			.news-image
				img(src="./img/other-news/1.jpg", alt="")
			.news-caption
				p
				time 20/06/2019
		.other-news-item
			.news-image
				img(src="./img/other-news/1.jpg", alt="")
			.news-caption
				p
				time 20/06/2019
		.other-news-item
			.news-image
				img(src="./img/other-news/1.jpg", alt="")
			.news-caption
				p
				time 20/06/2019
