section.ss-maria-noi-bat#particles-js
	.container
		.article-title-w(data-aos="fade-up" data-aos-offset="0" data-aos-delay="0" data-aos-duration="700" data-aos-easing="ease-in-out")
			h2 Sunshine Marina Nha Trang Bay - Khu phức hợp nghỉ dưỡng hiện đại bậc nhất tại Việt Nam
				span.blue-line-long
		.strong-point-wrapper
			.strong-point-item-wrapper( data-aos="zoom-out" data-aos-offset="100" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out")
				.strong-point-item.hvr-ripple-out
					.module-border-wrap
						.circle
							span.title.gradient-text 80.000
							p.gradient-text m
								sup 2
					span.caption Tổng diện tích khu đất
				.strong-point-item.hvr-ripple-out
					.module-border-wrap
						.circle
							span.gradient-text.title 10.000
							p.gradient-text tỷ VND
					span.caption Tổng mức đầu tư
				.strong-point-item.hvr-ripple-out
					.module-border-wrap
						.circle
							span.title.gradient-text 4.0
					span.caption Dự án đầu tiên tại Việt Nam áp dụng cộng nghệ 4.0 loT
				.strong-point-item.hvr-ripple-out
					.module-border-wrap
						.circle
							span.title.gradient-text 1.052
							p.gradient-text phòng
					span.caption Tổng số phòng Condotel
				.strong-point-item.hvr-ripple-out
					.module-border-wrap
						.circle
							span.title.gradient-text 100
								small %
					span.caption Căn hộ view biển, thiết kế 100% kính mặt ngoài
				.strong-point-item.hvr-ripple-out
					.module-border-wrap
						.circle
							span.title.gradient-text 40
					span.caption Tiện ích chuẩn 5* xứng tầm đẳng cấp
