section.home-swiper-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.wrapper
					.swiper-media.kenburns-top
						img(src="./img/banner/1.jpg", alt="")
					.swiper-caption
						h2.title( data-aos="fade-down" data-aos-offset="0" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out") Sunshine Marina Bay
						p.caption( data-aos="fade-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out") Đỉnh cảo mới của giới thượng lưu
			.swiper-slide
				.wrapper
					.swiper-media.kenburns-top
						.play
							.play__icon
							video(muted="",loop='' )
								source(src='./img/sample.mp4', type='video/mp4')
					.swiper-caption
						h2.title( data-aos="fade-down" data-aos-offset="0" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out") Sunshine Marina Bay
						p.caption( data-aos="fade-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out") Đỉnh cảo mới của giới thượng lưu
	.next-section-arrow
		a(href="#")
			em.lnr.lnr-chevron-down
