section.ss-maria-media#tin-tuc
	.container-14
		.row
			.col-lg-6
				section.ss-maria-news
					.article-title-b(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="600" data-aos-offset="0")
						h2 Tin tức mới nhất
							span.blue-line-short
						.watch-more
							a(href="#") Xem tất cả
					.news-wrapper(data-aos="fade-right" data-aos-offset="250" data-aos-delay="200" data-aos-duration="700" data-aos-easing="ease-in-out")
						.news-item.big
							.news-image
								a(href="#")
									img(src="./img/news/1.jpg", alt="")
							.news-caption
								time 26/06/2019
								hr.dash-color
								.caption
									a(href="#")
										p Những điểm khác biệt nổi bật của khu phức hợp nghỉ dưỡng  Sunshine Marina Nha Trang Bay  Những điểm khác biệt nổi bật của khu phức hợp nghỉ dưỡng  Sunshine Marina Nha Trang Bay 
						.news-item
							.news-image
								a(href="#")
									img(src="./img/news/1.jpg", alt="")
							.news-caption
								time 26/06/2019
								hr.dash-color
								.caption
									a(href="#")
										p Những điểm khác biệt nổi bật của khu phức hợp nghỉ dưỡng  Sunshine Marina Nha Trang Bay 
						.news-item
							.news-image
								a(href="#")
									img(src="./img/news/1.jpg", alt="")
							.news-caption
								time 26/06/2019
								hr.dash-color
								.caption
									a(href="#")
										p Những điểm khác biệt nổi bật của khu phức hợp nghỉ dưỡng  Sunshine Marina Nha Trang Bay 
						
			.col-lg-6
				section.ss-maria-library
					.article-title-b(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="600" data-aos-offset="0")
						h2 Thư viện ảnh & Video
							span.blue-line-short-tv
					.library-wrapper(data-aos="fade-left" data-aos-offset="250" data-aos-delay="200" data-aos-duration="700" data-aos-easing="ease-in-out")
						.library-item
							.wrapper
								.play
									.play__icon
									video(muted="",loop='' )
										source(src='./img/sample.mp4', type='video/mp4')
						.library-item
							.wrapper.lightgallery
								a(href="./img/news/1.jpg")
									img(src="./img/news/5.jpg", alt="")
								a(href="./img/news/2.jpg")
									img(src="./img/news/5.jpg", alt="")
								a(href="./img/news/3.jpg")
									img(src="./img/news/5.jpg", alt="")
								a(href="./img/news/4.jpg")
									img(src="./img/news/5.jpg", alt="")
								a(href="./img/news/5.jpg")
									img(src="./img/news/5.jpg", alt="")
						.library-item
							.wrapper.lightgallery
								a(href="./img/news/2.jpg")
									img(src="./img/news/5.jpg", alt="")
								a(href="./img/news/3.jpg")
									img(src="./img/news/5.jpg", alt="")
								a(href="./img/news/4.jpg")
									img(src="./img/news/5.jpg", alt="")
								a(href="./img/news/1.jpg")
									img(src="./img/news/5.jpg", alt="")
								a(href="./img/news/2.jpg")
									img(src="./img/news/5.jpg", alt="")
						.library-item
							.wrapper.lightgallery
								a(href="./img/news/2.jpg")
									img(src="./img/news/5.jpg", alt="")
								a(href="./img/news/1.jpg")
									img(src="./img/news/5.jpg", alt="")
								a(href="./img/news/3.jpg")
									img(src="./img/news/5.jpg", alt="")
								a(href="./img/news/4.jpg")
									img(src="./img/news/5.jpg", alt="")
								a(href="./img/news/1.jpg")
									img(src="./img/news/5.jpg", alt="")
				
